<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22242676407-cd9g36djd3per1mmvpa9utintr4c7uko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22242676407-cd9g36djd3per1mmvpa9utintr4c7uko</string>
	<key>API_KEY</key>
	<string>AIzaSyDz5jt3fMxljDhfmgfkuN5RcNSNyFM4Mu8</string>
	<key>GCM_SENDER_ID</key>
	<string>22242676407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>veivo</string>
	<key>PROJECT_ID</key>
	<string>veivo-c6b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>veivo-c6b0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22242676407:ios:9cd027e8010028b7f50732</string>
</dict>
</plist>